*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
thesis.pdf
output.pdf
smalloutput.pdf
tmp
sources
examples
*gz
.DS_Store
notes.txt
blah.txt
*.fdb_latexmk
*.fls
